/* Fullscreen page */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

/* Center the canvas */
#page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fixed-size canvas */
#gameCanvas {
  width: 1280px;
  height: 720px;
  border: 3px solid #222;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

